{% extends "base.html.twig" %}

{% block title %}Detail
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Detail de la commande du {{ order.createdAt | date('d/m/Y') }}</h1>
                {# <p>{{ order.details.quantity }}</p> #}
			</div>
		</section>
	</main>
{% endblock %}
