{% extends 'base.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block body %}
	<main class="container mb-3">
		<section class="row">
			<div class="col-12">
				<h1>Mes commandes</h1>
								<table class="table table-striped mt-4">
					<thead>
						<tr class="table-dark">
							<th scope="col">Date de la commande</th>
							<th class="d-none d-lg-table-cell" scope="col">Total</th>
							<th class="d-none d-lg-table-cell" scope="col">État de la commande</th>
							<th scope="col">Détail</th>
						</tr>
					</thead>
					<tbody>
						{% for order in user.orders %}
							<tr class="table-light">
								<th scope="row">{{ order.createdAt | date('d/m/Y') }}</th>
								<td class="d-none d-lg-table-cell">{{ order.total }} € </td>
								<td class="d-none d-lg-table-cell">
									{% if order.status == 0 %}
										Enregistée/payée
									{% endif %}
									{% if order.status == 1 %}
										En préparation
									{% endif %}
									{% if order.status == 2 %}
										en cours de livraison
									{% endif %}
									{% if order.status == 3 %}
										Livrée
									{% endif %}
								</td>
								<td>
									<a href="{{ path('orders_detail', {id: order.id}) }}" class="btn btn-dark">Détail</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>
{% endblock %}
