{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 corps">
                <div class="decouvrir col-3">
                    <h3>A découvrir</h3>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, quidem.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
