{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon P'tit Grain</h1>
    <p>Ventes en boutique de cafés et thés locaux, bio.
    Ventes d’accessoires, cafetières et théières.</p>
{% endblock %}
