{% extends 'base.html.twig' %}

{% block title %}Mon profile
{% endblock %}

{% block body %}
	<main class="container mb-3">
		<section class="row">
			<h3>Bonjour {{app.user.name}} {{ app.user.lastname }}.</h3>
            <p>Bienvenu sur vôtre profile</p>
		</section>
	</main>
{% endblock %}
