{% extends "base.html.twig" %}

{% block title %}Ajouter une categorie{% endblock %}

{% block body %}
    <main class="container mb-3">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter une categorie</h1>
                {% include "admin/categories/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}