{% extends "base.html.twig" %}

{% block title %}Modifier une categorie{% endblock %}

{% block body %}
    <main class="container mb-3">
        <section class="row">
            <div class="col-12">
                <h1>Modifier un produit</h1>
                {% include "admin/categories/_form.html.twig" with {'button_label': 'Modifier'} %}
            </div>
        </section>
    </main>
{% endblock %}