{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-6 corps">
				<div class="decouvrir col-4">
					<p class="h3">A découvrir</p>
					<p>On vous incite à décourviri notre service en terre cuite, idéale pour réchauffer vos hivers en y versant un de nos délicieux thé.</p>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-5 sujet">
				<p class="h3">A notre sujet :</p>
				<p>Nous existons pour vous rendre la vie plus délicieuse, en vous proposant de déguster de délicieux cafés mais aussi des thés gourmands, et bio issus du terroir de notre très chère région les Hauts de France.</p>
			</div>
			<div class="col-12 testimonial">
				<div class="testi-1 col-5">
					<p class="h3">Testimonial 1</p>
				</div>
				<div class="col-2"></div>
				<div class="col-5 testi-2">
					<p class="h3">Testimonial 2</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
